<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">DetegiCE's GitHub Blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>Computer Scientist in Korea Univ, Seoul</p>
      </div>
    </div>
    
    Copyright Since 2019. DetegiCE's GitHub all rights reserved.<br>
    Blog Updated 2020.04.05. v3

  </div>

</footer>

<style>
/* https://github.com/lonekorean/gist-syntax-themes */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 20px;
  font: 16px 'Open Sans', sans-serif;
}
</style>

<script>
function turnOffLoop() {
  alert('광고 차단 프로그램이 감지되었습니다.\n비활성화 해주시기 바랍니다.\n\nAdblocking program has been detected.\nPlease deactivate it.');
}
  
var timerId = null;
  
function turnOffAdblock() {
  turnOffLoop();
  timerId = setInterval(turnOffLoop, 5000);
}
  
function turnOffCloseLoop() {
  alert('광고 차단 프로그램이 감지되었습니다!\n비활성화 하지 않으실 경우, 사이트를 이용하실 수 없습니다!!\n\nAdblocking program has been detected.\nPlease deactivate it.');
}
  
function turnOffAdblockClose() {
  turnOffCloseLoop();
  top.window.open('about:blank','_self').close();
  top.window.opener=self;
  top.self.close();
}
 
</script>

<style>
#mask { 
position: absolute;
z-index: 9000;
background-color: #000;
display: none;
left: 0;
top: 0;
}

.window {
display: none;
position: absolute;
left: 100px;
top: 100px;
z-index: 10000;
}
</style>


<script>
function wrapWindowByMask(){
    var maskHeight = $(document).height();
    var maskWidth = $(window).width();  

    $('#mask').append("<center><span style='font-size:1em; color:white;'>DetegiCE's GitHub</span><span style='font-size:2em; color:white;'><br><br><br>광고 차단 플러그인이 감지되었습니다!<br>이 사이트에서 광고 허용을 해주신 후 새로고침 해주세요!<br><br>Adblock Plugin detected!<br>Please allow in this site and refresh!</span></center>");
    $('#mask').css({'width':maskWidth,'height':maskHeight});  

    $('#mask').fadeIn(1000);
    $('#mask').fadeTo("slow",0.9);    

    $('.window').show();
}

$(window).resize(function() {
    var width = $(window).width();
    var height = $(window).height();
    $('#mask').css({'width':width, 'height':height});
});

$(document).ready(function(){
    $('.openMask').click(function(e){
        e.preventDefault();
        wrapWindowByMask();
    });

    $('.window .close').click(function (e) {
        e.preventDefault();
        $('#mask, .window').hide();
    });
});
</script>

<div id="mask"></div>

<script data-ad-client="ca-pub-2393564017114032" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" onerror="wrapWindowByMask()"></script>

<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-qxi7q147vuif" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" onerror="wrapWindowByMask()" async> </script>

{% if page.use_math %}
  {% include mathjax_support.html %}
{% endif %}
