<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">DetegiCE's GitHub Blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">DetegiCE</li><li><a class="u-email" href="mailto:martino1103@gmail.com">martino1103@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Computer Scientist in Korea Univ, Seoul</p>
      </div>
    </div>

  </div>

</footer>
