<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">DetegiCE's GitHub Blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>Computer Scientist in Korea Univ, Seoul</p>
      </div>
    </div>

  </div>

</footer>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", onerror="alert('ADBLOCK DETECTED')"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2393564017114032",
          enable_page_level_ads: true
     });
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", onerror="alert('ADBLOCK DETECTED')"></script>
<!-- github -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2393564017114032"
     data-ad-slot="7921062366"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
if(typeof data-google-av-adk === 'undefined') {
  alert("광고 차단 프로그램이 감지되었습니다.")
}
else{
  alert("테스트2")
}
</script>
